
@{
    ViewBag.Title = "Favourites";
}

<table>
    <tr>
        <td style="width:50%;">

            <div class="jumbotron" style="width:250px; height:100%;">

                <div class="container">
                    <a href="~/Home/Index"><img style="height:100px; width:100px;" src="~/images/home.jpg" /></a><br /><br />
                    <a href="~/Home/Adjust"><img style="height:100px; width:100px;" src="~/images/adjust.png" /></a>
                </div>
            </div>
        </td>


        <td>
            <ul>
                <li>data</li>
                <li>data</li>

                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>

                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>


            </ul>
        </td>


    </tr>
</table>


