@model MVC_APP.Models.AddToFavourites

@{
    ViewBag.Title = "AddToFavourites";
}

@using (Html.BeginForm("AddToFavourites", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.BarId)
    @Html.HiddenFor(m => m.UserId)

    <h2>Hey, @Model.UserName</h2>
    <h2>Are you sure to add @Model.BarName to you favourites ?</h2>

    <button class="btn btn-default" type="submit">Yes</button>
    <button class="btn btn-default"><a style="color:black;" href="~/CoffeBar/Index">Cancel</a></button>

}