@{
    ViewBag.Title = "AlredyInFavourites";
}

    <h2 style="color:red">This coffee bar is alredy in your favourites</h2>

<button class="btn btn-default"><a style="color:black;" href="~/CoffeBar/Index">Back</a></button>
